/*
 * Versal Gen 2 Virtual PSX board device tree.
 *
 * Copyright (c) 2023 Advanced Micro Devices Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the <organization> nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#ifndef NUM_APUS
#define NUM_APUS 8
#endif

#define NUM_APUS_PER_CLUSTER 2

/* RPU configuration.  */

#ifndef NUM_RPUS
#define NUM_RPUS 10
#endif

#define VERSAL2_DEV
#define VERSAL_NPI_GENERIC
#define VERSAL_PSX
#define VERSAL_NET
#define VERSAL_NPI_OVERRIDE

/* TODO: Add GIC interrupt redirection support.  */
#define APU_GIC_INTERRUPT_TARGET_STEM cpu
#define RPU_GIC_INTERRUPT_TARGET_STEM rpu_cpu

#define APU_CPU_MODEL "cortex-a78-arm-cpu"
#define RPU_CPU_MODEL "cortex-r52-arm-cpu"

#include "include/versal-net/npi-memmap.dtsh"
#include "board-versal-ps-virt.dts"
#include "versal-psx.dtsi"
#include "versal-net-psmx.dtsi"
#include "versal-psx-rpu.dtsi"
#include "versal-net-boot-init.dtsi"
#include "versal-net-hnic.dtsi"
#include "versal2-pmx-shared-overlay.dtsi"
#include "versal-pmx-system-overlay.dtsi"
#include "versal-psx-shared-overlay.dtsi"
#include "versal2-psx-shared-overlay.dtsi"
#include "versal2-icnt.dtsi"
#include "versal2-rams.dtsi"

#ifndef VERSAL_NET_APU_CPU_FREQ
 #define VERSAL_NET_APU_CPU_FREQ 2720000
#endif

#define SET_CPU_FREQ(n, f)					\
&cpu ## n {							\
	generic-timer-frequency = <f>;				\
}

SET_CPU_FREQ(0, VERSAL_NET_APU_CPU_FREQ);
SET_CPU_FREQ(1, VERSAL_NET_APU_CPU_FREQ);
SET_CPU_FREQ(2, VERSAL_NET_APU_CPU_FREQ);
SET_CPU_FREQ(3, VERSAL_NET_APU_CPU_FREQ);
SET_CPU_FREQ(4, VERSAL_NET_APU_CPU_FREQ);
SET_CPU_FREQ(5, VERSAL_NET_APU_CPU_FREQ);
SET_CPU_FREQ(6, VERSAL_NET_APU_CPU_FREQ);
SET_CPU_FREQ(7, VERSAL_NET_APU_CPU_FREQ);

#define RPU_CTRL_FIXUP(c, f, s) \
&rpu_ctrl_ ## c { \
	tcm-mr = <&glue(s_axi_tcm_, c)>; \
}; \
&rpu_ctrl_ ## c ## 0 { \
	core = <&glue(rpu_cpu, f)>; \
}; \
&rpu_ctrl_ ##c ## 1 { \
	core = <&glue(rpu_cpu, s)>; \
}

RPU_CTRL_FIXUP(a, 0, 1);
RPU_CTRL_FIXUP(b, 2, 3);
#if (NUM_RPUS >= 8)
RPU_CTRL_FIXUP(c, 4, 5);
RPU_CTRL_FIXUP(d, 6, 7);
#endif
#if (NUM_RPUS >= 10)
RPU_CTRL_FIXUP(e, 8, 9);
#endif


&pmc_tap {
	platform-ver = <0x5>;
};

/ {
	/* TODO: remove reference to these blocks, and then remove the block
	 * below.  */
	psm_gic_proxy: psm_gic_proxy@0 {
		#interrupt-cells = <0x03>;
		interrupt-controller;
	};

	psm_local: psm_local@0 {
		gpio-controller;
		#gpio-cells = <0x01>;
	};

	psm_global: psm_global@0 {
		#gpio-cells = <0x01>;
		gpio-controller;
	};
};
