/* X-PRC-07 Daughter Card for vn-p-b2197-00 Board.
 *
 * Copyright (c) 2024, Advanced Micro Devices, Inc
 * All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/*
 * Features
 * 	-OSPI - MT35XU02GCBA1G12-0SIT
 * 	-USB
 * 	-EMMC - MTFC64GAPALBH-IT
 * 	-GEM1
 * 		-GEM_PHY - VSC8540
 * 	-UART0/1
 * 	-BOOT MODE supported: OSPI
 */

#include "board-versal-net-psx-vn-p-b2197-00.dts"

&pmc_qspi_0 {
	/delete-node/ qspi_flash_lcs_lb@0;
	/delete-node/ qspi_flash_lcs_ub@0;
	/delete-node/ qspi_flash_ucs_lb@0;
	/delete-node/ qspi_flash_ucs_ub@0;
};

&ospi {
	/delete-node/ ospi_flash_lcs_ub@0;
	/delete-node/ ospi_flash_ucs_lb@0;
	/delete-node/ ospi_flash_ucs_ub@0;
};

&ospi_flash_lcs_lb {
	compatible = "mt35xu02gbba";
};

&mdio0 {
	/delete-node/ phy@2;
	phy0: phy@1 {
		compatible = "dp83826";
		device_type = "ethernet-phy";
		reg = <1>;
	};
};

&ps_i2c1 {
	eeprom1: eeprom@51 {
		compatible = "at,24c08";
		reg = <0x51>;
		size = <0x2000>;
		blockdev-node-name = "i2c1.eeprom-51";
	};
	i2c1_bridge: i2c1_bridge@0 {
		compatible = "i2c-wire";
		i2cWire-peer = <&i2c0_bridge>;
	};
};

&ps_i2c0 {
	i2c0_bridge: i2c0_bridge@0 {
		compatible = "i2c-wire";
		i2cWire-peer = <&i2c1_bridge>;
	};
};
