/*
 * Versal AI Core series device xcvc2802 virtual board dts
 *
 * Copyright (c) 2021, Xilinx Inc
 * All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/*
 * Unsupported Devices:
 *  CPM
 *  VDU
 *  PCIE
 */
#define HAS_DDRMC3 0
#define MM_NPI_AIE2_NPI_0       0xf6d10000
#define MM_VDU_NPI_0	0xF6820000
#define MM_VDU_NPI_1	0xF6870000
#define MM_VDU_NPI_2	0xF68C0000
#define MM_VDU_NPI_3	0xF6920000
#include "versal-cpm5-memmap.dtsh"
#include "board-versal-ps-virt.dts"
#include "versal-silicon-freq.dtsi"
#include "versal-cpm5.dtsi"
#include "versal-vdu.dtsi"

&pmc_tap {
	idcode = <0x04CD0093>;
};
