/*
 * Versal AI Core series device xcvc1702 virtual board dts
 *
 * Copyright (c) 2022, Xilinx Inc
 * All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/*
 * Unsupported Devices:
 *  CPM
 *  PCIE
 */

#define VERSAL_NPI_OVERRIDE
#include "versal/memmap/versal-xcvc1702-npi-memmap.dtsi"

#include "board-versal-ps-virt.dts"
#include "versal-silicon-freq.dtsi"

&pmc_tap {
	idcode = <0x04C98093>;
};
