/*
 * Versal Gen 2 premium series device xc2vp3202 virtual board dts
 *
 * Copyright Advanced Micro Devices, Inc.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

#define VERSAL_NPI_OVERRIDE
#define VERSAL2_XC2VP3202
#define VERSAL_PMX

#include "versal2/memmap/versal2-xc2vp3202-npi-memmap.dtsi"
#include "versal-ddrmc5e-aliases.dtsh"

#include "board-versal-ps-virt.dts"
#include "versal-silicon-freq.dtsi"
#include "versal2-xc2vp3202-pmc.dtsi"

&pmc_tap {
  idcode = <0x04C68093>;
};
