/* Versal Gen 2 ASU Emulation
 *
 * Copyright (c) 2023, AMD Inc
 * All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/********ASU Features********
 * 256KB Firmware RAM or 128KB Data RAM
 * XPPU protects the ram access
 * 64K Bank of Data ROM has ASU only access
 * Security-subsystem
 * 	Key Vault
 * 	AES
 * 	SHA2/3
 * 	ECDSA/RSA
 * 	TRNG
 * 	DMA
 * Microblze RISCV Processor
 * MDM
 * Microblaze IO Module
 * ASU Local/Global Regs
 */

/dts-v1/;

#define VERSAL2_DEV
#define VERSAL2_ASU_DEV
#define VERSAL_PSX
#define VERSAL_NET
#define VERSAL_NPI_OVERRIDE

#include "versal2-npi-memmap.dtsh"
#include "versal.dtsh"
#include "interconnect.dtsh"
#include "versal2-icnt.dtsi"
#include "versal2-asu-cpu.dtsi"

#ifndef MULTI_ARCH
#include "versal-memmap.dtsh"
#include "versal-pmc.dtsi"
#include "versal-ddrmc.dtsi"
#include "versal-ps-iou.dtsi"
#include "versal2-asu.dtsi"
#include "versal2-pmx-shared-overlay.dtsi"
#include "versal2-psx-shared-overlay.dtsi"
#include "versal-pmx-shared-overlay.dtsi"
#include "versal-pmx-system-overlay.dtsi"
#include "versal2-pmxc-system-overlay.dtsi"
#include "versal2-mmi.dtsi"
#else
#include "versal-icnt.dtsi"
#include "versal-rams.dtsi"
#endif
#include "versal2-rams.dtsi"

/ {
	MEM_REGION(ddr, 0x0, MM_TOP_DDR, 0x00000000, MM_TOP_DDR_SIZE, &ddr_mem)  // 2 GB

	/* Dummy APUs.  */
	cpu2: apu@2 { };
	cpu3: apu@3 { };
	cpu4: apu@4 { };
	cpu5: apu@5 { };
	cpu6: apu@6 { };
	cpu7: apu@7 { };
	asu_gic_proxy: asu_gic_proxy@0 { };
	psm_local: psm_local@0 {
		#gpio-cells = <1>;
	 };
#ifndef HAVE_DDRMC_CPUS
	ddrmc_ub0: ddrmc_ub@0 {
		#interrupt-cells = <1>;
		interrupt-controller;
	};
	ddrmc_ub1: ddrmc_ub@1 {
		#interrupt-cells = <1>;
		interrupt-controller;
	};
#endif
	pmc_ppu0: pmc_ppu@0 {
		#interrupt-cells = <1>;
	};
	pmc_ppu1: pmc_ppu@1 {
		#interrupt-cells = <1>;
	};
#ifdef MULTI_ARCH
	ps_asu_rp: ps_asu_rp@0 {
		doc-name = "Remote-port ASU-PS";
		compatible = "remote-port";
		chrdev-id = "ps-asu-rp";
	};
	rp_asu_irq: rp_asu_irq@0 {
		compatible = "remote-port-gpio";
		remote-ports = <&ps_asu_rp 1>;
		interrupts-extended = < &asu_cpu 0 >;
	};
	lmb_amba_asu: lmb_amba_asu@0 {
		rp_lmb_amba_asu@0 {
			compatible = "remote-port-memory-master";
			remote-ports = <&ps_asu_rp 2>;
			reg = < 0x0 0x0 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF>;
		};
	};
	crl: asu_rst@0 {
		compatible = "remote-port-gpio";
		remote-ports = <&ps_asu_rp 3>;
		#gpio-cells = <1>;
		num-gpios = <35>;
	};
	pmc_gic_proxy: pmc_gic_proxy {
		doc-ignore = <1>;
		#interrupt-cells = <3>;
		interrupt-controller;
	};
	psm_gic_proxy: psm_gic_proxy {
		doc-ignore = <1>;
		#interrupt-cells = <3>;
		interrupt-controller;
	};
	pmc_ppu1_io_intc: pmc_ppu1_io_intc {
		doc-ignore = <1>;
		#interrupt-cells = <1>;
		interrupt-controller;
	};
	asu_io_intc: asu_io_intc {
		doc-ignore = <1>;
		#interrupt-cells = <1>;
		interrupt-controller;
	};
#endif
};
