/*
 * Versal premium series device xc2vp3602 virtual board dts
 *
 * Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

#define PMC_AES_ENDIANNESS_SWAP
#define VERSAL_PMC_MEMMAP_OVERRIDE
#include "versal2-xc2vp3602-pmc-memmap.dtsi"
#include "board-versal-pmc-virt.dts"
