/* Versal Gen 2 PMXC shared overlay
 *
 * Copyright (c) 2023, AMD Inc
 * All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/*
 * This defines need to be on top before including
 * versal-pmx-shared-overlay.dtsi
 */
#define MM_PMX_PMX_ROM	MM_PMC_PMC_ROM
#define MM_PMX_PMX_ROM_SIZE	0x40000

#include "versal-pmx-shared-overlay.dtsi"

&amba_pmc_iou {
	pmc_ufshc: pmc_ufshc@MM_PMC_UFS_XHCI {
		compatible = "ufshc-sysbus";
		reg = <0x0 MM_PMC_UFS_XHCI 0x0 MM_PMC_UFS_XHCI_SIZE 0x0>;
		ufs-target = <&ufs_dev>;
		unipro-mphy = <&unipro>;
		dma = <&amba_pmc>;
	};
	unipro: unipro@0 {
		compatible = "unipro-mphy";
		ufshc = <&pmc_ufshc>;
		#gpio-cells = <1>;
	};
	ufs_dev: ufs_dev@0 {
		compatible = "ufs-dev";
		num-luns = <8>;
	};
	ufs_reg: ufs_reg@MM_PMC_PMC_IOU_SLCR {
		compatible = "dwc.ufs_reg";
		reg = <0x0 (MM_PMC_PMC_IOU_SLCR + 0x1000) 0 0x100 1>;
		gpios = <&unipro 0>;
	};
};
