/*
 * Versal PSX Overlay
 *
 * Copyright (c) 2021, Xilinx Inc
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the <organization> nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include "versal.dtsh"

#define MM_FPD_CMN			0xa0000000
#define MM_FPD_CMN_SIZE			0x03000000

#define MM_FPD_FPD_APU_CLUSTER1		0xfd5d0000
#define MM_FPD_FPD_APU_CLUSTER2		0xfd5e0000
#define MM_FPD_FPD_APU_CLUSTER3		0xfd5f0000

#define GEN_APU_CLUSTER(n, a, b, c, d)					\
	apu_cluster ## n: apu_cluster@MM_FPD_FPD_APU_CLUSTER ## n {	\
		#gpio-cells = <1>;					\
		gpio-controller;					\
		compatible = "xlnx,versal-apu-ctrl";			\
		reg = <0x0 MM_FPD_FPD_APU_CLUSTER ## n			\
		       0x0 MM_FPD_FPD_APU_SIZE 0x0>;			\
		cpu0 = <&cpu ## a>;					\
		cpu1 = <&cpu ## b>;					\
		cpu2 = <&cpu ## c>;					\
		cpu3 = <&cpu ## d>;					\
		cores-per-cluster = <NUM_APUS_PER_CLUSTER>;		\
	}

/* Dummy node.  */
/ { cpunone: cpu_dummy { }; };

#if NUM_APUS_PER_CLUSTER == 2
&amba_fpd {
	GEN_APU_CLUSTER(1, 2, 3, none, none);
	GEN_APU_CLUSTER(2, 4, 5, none, none);
	GEN_APU_CLUSTER(3, 6, 7, none, none);
};
#else
&amba_fpd {
	GEN_APU_CLUSTER(1, 4, 5, 6, 7);
	GEN_APU_CLUSTER(2, 8, 9, 10, 11);
	GEN_APU_CLUSTER(3, 12, 13, 14, 15);
};

/* Connect the missing cores compared to Versal PS.  */
&apu_ctrl {
	cpu2 = <&cpu2>;
	cpu3 = <&cpu3>;
};
#endif

&amba_fpd {
	/*
	 * Keystone-B PSX replaces the CCI-500 with a CMN-600AE.
	 * Delete the old nodes and add the CMN.
	 */
	/delete-node/ cci_reg@MM_FPD_FPD_GPCCI;
	/delete-node/ cci500@MM_FPD_FPD_MAINCCI;
	cmn600ae@MM_FPD_CMN {
		compatible = "arm,cmn600ae";
		reg = <0x0 MM_FPD_CMN 0x0 MM_FPD_CMN_SIZE 0x0>;
	};
};

&rpu_cpu0 {
	core-count = <2>;
};

&rpu_cpu1 {
	core-count = <2>;
};

&crf {
	compatible = "xlnx,versal-psx-crf";
};

&pmc_iou_slcr {
	compatible = "xlnx,versal-pmx-iou-slcr";
};
