/*
 * Versal Gen 2 MMI
 *
 * Copyright (C) 2023, Advanced Micro Devices, Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the <organization> nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

&amba_fpd {
	amba_mmi: amba_mmi@0 {
		#address-cells = <2>;
		#size-cells = <2>;
		#priority-cells = <1>;
		compatible = "simple-bus";
		ranges;
		mdio_10gbe: mdio_10gbe@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			#priority-cells = <0>;
			compatible="mdio";
			phy_10gbe: phy@1 {
				compatible = "phy-clause45-generic";
				device_type = "ethernet-phy";
				reg = <1>;
			};
		};

		mmi_10gbe: ethernet@MM_MMI_PCIEGEM_10GBE {
			#address-cells = <1>;
			#size-cells = <0>;
			#priority-cells = <0>;
			compatible = "cdns,gem";
			reg = <0x0 MM_MMI_PCIEGEM_10GBE 0x0 MM_MMI_PCIEGEM_10GBE_SIZE 0x0>;
			interrupts = <mmi_gem_misc_event_IRQ_0
				mmi_gem_misc_event_IRQ_0
				mmi_gem_misc_event_IRQ_0
				mmi_gem_misc_event_IRQ_0>;
			num-priority-queues = <4>;
			mdio = <&mdio_10gbe>;
		};
	};

	MR_BACKGROUND(amba_mmi);
};
