/* Versal Gen 2 ASU Emulation
 *
 * Copyright (c) 2023, AMD Inc
 * All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */
#include "versal2-wiremap.dtsh"

/*
 * Security-subsystem
 * 	Key Vault
 * 	AES
 * 	SHA2/3
 * 	ECDSA/RSA
 * 	TRNG
 * 	DMA
 */
&amba_asu {
	asu_aes: asu_aes@MM_ASU_AES {
		doc-status = "complete";
		compatible = "xlnx,asu_aes";
		reg = <0x0 MM_ASU_AES 0x0 (MM_ASU_AES_SIZE + MM_ASU_KEY_SIZE) 0x0>;
		#gpio-cells = <1>;
		gpio-controller;
		/*
		 * TODO: These are <AES_DONE_IRQ KT_DONE_IRQ> going directly
		 * into ASU RISC-V. Constants shall be changed to names when
		 * autogen irq map becomes available.
		 */
		interrupts = <IRQ_ASU_AES_DONE IRQ_ASU_KT_DONE>;
	};
	asu_sha3: asu_sha3@MM_ASU_SHA3 {
		doc-status = "complete";
		compatible = "xlnx,asu_sha3";
		reg = <0x0 MM_ASU_SHA3 0x0 MM_ASU_SHA3_SIZE 0x0>;
		interrupts = <IRQ_ASU_SHA_DONE>;
	};
	asu_sha2: asu_sha2@MM_ASU_SHA2 {
		doc-status = "complete";
		compatible = "xlnx,asu_sha2";
		reg = <0x0 MM_ASU_SHA2 0x0 MM_ASU_SHA2_SIZE 0x0>;
	};
	asu_rsa: pmc_rsa@MM_ASU_RSA {
		doc-status = "complete";
		compatible = "xlnx,versal-ecdsa-rsa";
		reg = < 0x0 MM_ASU_RSA 0x0 MM_ASU_RSA_SIZE 0x0>;
		interrupts = <IRQ_ASU_RSA>;
	};
	asu_trng: trng@MM_ASU_TRNG {
		doc-status = "complete";
		compatible = "xlnx,versal-trng";
		reg = <0x0 MM_ASU_TRNG 0x0 0x1000 0x0>;
		interrupts = <IRQ_ASU_TRNG>;
	};
};

/* ASU-AES connectivity to other devices */
&asu_aes {
	stream-connected-aes = <&asu_sss>; /* ASU-AES output */
};

&asu_sss {
	stream-connected-aes = <&asu_aes>; /* ASU-AES input */
};

&asu_global {
	gpios = <&asu_aes ASU_AES_KEY_TRANSFER_DONE>;
};
